<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    </head>
<body>
    <p id="msg"></p>
    <hr>
<h1>HOME</h1>
<form id="auth" class="auth">
    <div>        
        <button class="login">login</button>
        <button class="logout">logout</button>
    </div>
    </form>
<hr>
<div id="upload_div"></div>

<form id="add_music"> <div></div> </form>

<div id="local_music"> <div></div> </div>

<div id="music_list"> <ul></ul> </div>

<form id="users">
<div id="users_list"> <ul></ul> </div></form>
</body>
</html>